::-webkit-scrollbar {
    display: none;
}

li {
  list-style: disc;
  padding-left: 2%;
}

#app {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #86c7f3;
}

#title {
  flex: 1;
  font-family: georgia;
  font-size: 5em;
  color: white;
  text-align: center;
  padding: 5% 0 3% 0;
}

#demo {
  padding-top: 2%;
  display: flex;
  height: 100%;
}

.inputc {
  position: relative;
  font-size: 18px;
}

.outputc {

}

.container {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.forms {
  width: 70%;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#ajax-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  align-items: center;
  font-weight: bolder;
}

.ajax-input {
  width: 50%;
  font-size: 18px;
  outline: none;
  padding-left: 5px;
}

#toggle-input {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  min-width: 350px;
  margin: 5px;
}

#ele-selector {
  font-size: 14px;
  padding: 9px 0 7px 8px;
  margin: 5px;
  border-radius: 5px;
}

#result {
  width: 70%;
  min-height: 90%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

input[type=button], input[type=submit] {
  padding: 9px 0 7px 8px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid black;
  font-family: sans-serif;
  width: 50%;
}

.inputc > img {
  position: absolute;
  right: -25px;
  top: 30%;
}

.red-border {
  border: 2px solid red;
}

@media only screen and (max-width: 800px) {
  #demo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    width: 85%;
    min-height: 40%;
    height: fit-content;
  }

  .inputc > img {
    display: none;
  }
}
