::-webkit-scrollbar {
    display: none;
}

li {
  list-style: disc;
}

#app {
  box-sizing: border-box;
  background-color: #86c7f3;
}

#title {
  flex: 1;
  font-family: georgia;
  font-size: 5em;
  color: white;
  text-align: center;
  padding: 5% 0 3% 0;
}

#demo {
  display: flex;
  height: 30%;
  margin-top: 10%;
}

.input-container {
  width: 50%;
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 14px;
}

.forms {
  width: 70%;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#toggle-input {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  min-width: 350px;
  margin: 5px;
}

#ele-selector {
  font-size: 14px;
  padding: 9px 0 7px 8px;
  margin: 5px;
  border-radius: 5px;
}

.output-container {
  width: 50%;
  display: flex;
  justify-content: center;
}

#result {
  width: 70%;
  min-height: 90%;
  background-color: #ffffff;
  padding-left: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

input[type=button], input[type=submit] {
  padding: 9px 0 7px 8px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid black;
  font-family: sans-serif;
  width: 50%;
}

.input-container > img {
  position: absolute;
  right: -25px;
  top: 30%;
}

.hide {
  border: 2px solid red;
}
